<!doctype html>
<html lang="en">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Bootstrap CSS -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

	<title>Storage Files - AWS S3</title>
</head>

<body>>

	<div class="container">

		<div class="card">
			<h3 class="card-header" th:text="|Bucket Name: ${bucketName} - Region: ${region}|"></h3>
			<form class="card-body" method="POST" th:action="@{/upload}" enctype="multipart/form-data">
				<div>
					<label for="file" class="form-label">Upload</label>
					<input class="form-control form-control-lg" id="file" required type="file" name="file">
					<div class="feedback-invalid"></div>
				</div>
				<div class="mt-3">
					<button class="btn btn-primary" type="submit">Send</button>
				</div>
			</form>
		</div>

		<div th:if="${success}" class="alert alert-success mt-2">Success Upload!!! </div>
		<div th:if="${error}" class="alert alert-danger mt-2" th:text="${error}"> </div>

		<div class="card mt-3">
			<h3 class="card-header"> List Object - Folder: Upload</h3>
			<table class="table ">
				<thead>
					<tr>
						<th scope="col"><i class="fas fa-file"></i></th>
						<th scope="col">Name</th>
						<th scope="col">Relative Path</th>
						<th scope="col">Last Modified</th>
						<th scope="col">Actions</th>
					</tr>
				</thead>
				<tbody>
				<tr th:each="object, iteration : ${objects}">
					<td scope="row">[[${iteration.count}]]</td>
					<td>[[${object.name}]]</td>
					<td>[[${object.relativepath}]] Bytes</td>
					<td>[[${#dates.format(object.lastModified, 'd MMM yyyy HH:mm:ss Z')}]]</td>
					<td>
						<a download target="_blank" th:href="@{'/download/'+${object.name}}" >
							<i class="fas fa-download"></i> Download
						</a>
					</td>
				</tr>
				</body>
			</table>
		</div>

	</div>

	<!-- Option 1: Bootstrap Bundle with Popper -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
		crossorigin="anonymous"></script>
</body>

</html>